@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');


:root {
  --secondarycolor: navy;
  --lightsilver: #edefef;
  --primarycolor: #00abb5;
  --linkcolor: #3d79c2;
  --textcolor: #313133;
  --white: #ffffff;
  --black: #001024;
}

.mainbody {
  padding-top: 100px;
  max-width: 1400px;
  width: 90%;
  margin: auto;
  background-color: rgb(238, 235, 235);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.companyname {
  font-size: 25px;
  font-weight: 400;
}

.onlinedot {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 100%;
  margin-left: 3px;
}



.agentpic {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}



.offlinediv {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #0a2540;
  color: white;
  font-size: 12px;
  padding: 3px 0px;
  z-index: 10;
}

.onlinediv {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: green;
  color: white;
  font-size: 12px;
  padding: 3px 0px;
  z-index: 10;
}

.appbarstyle {
  display: flex;
  justify-content: space-between;
  width: 82%;
  margin-left: 18%;
}


.wrapmoddivs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wrapandivs {
  display: flex;
  width: 31%;
  background-color: rgb(224, 224, 224);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.slimdiv1 {
  width: 4%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #092738;
}

.andivright {
  width: 98%;
  border: 1px solid #d4d4d4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}

.andivrightdiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.andivrightpercent {
  display: flex;
  color: #092738;
}

.shoppingiconprimary {
  background-color: #092738;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.andivrightnumber {
  font-size: 18px;
  font-weight: 700;
  color: var(--primarycolor);
}

.andivrighttext {
  font-size: 15px;
  font-weight: 500;
  color: var(--primarycolor);
}


/* div two */
.andivrightpercent2 {
  display: flex;
  color: #ff8601;
}

.slimdiv2 {
  width: 4%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #ff8601;
}

.shoppingiconprimary2 {
  background-color: #ff8601;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.andivrightnumber2 {
  font-size: 18px;
  font-weight: 700;
  color: #ff8601;
}

.andivrighttext2 {
  font-size: 15px;
  font-weight: 500;
  color: #ff8601;
}


/* div two */
.andivrightpercent3 {
  display: flex;
  color: #c829c9;
}

.slimdiv3 {
  width: 4%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #c829c9;
}

.shoppingiconprimary3 {
  background-color: #c829c9;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.andivrightnumber3 {
  font-size: 18px;
  font-weight: 700;
  color: #c829c9;
}

.andivrighttext3 {
  font-size: 15px;
  font-weight: 500;
  color: #c829c9;
}

.routepathwrap {
  display: flex;
}

.routepathmain {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.routepathminor {
  font-weight: 200;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.overflowdiv {
  height: 500px;
  overflow: scroll;
}

.overflowdiv2 {
  height: 600px;
  overflow: scroll;
}

.containerwithshadow {
  box-shadow: 1px 2px 6px #c7c6c6;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  position: relative;
}

.uploaddivsmall {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dotted;
  border-radius: 10;
  cursor: pointer;
  padding: 10px;
  border-color: silver;
  height: 150px;
  width: 150px;
  border-width: 2px;

}

.availabledot {
  top: 3px;
  left: 3px;
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 100%;
  position: absolute;
}

.notavailabledot {
  top: 3px;
  left: 3px;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 100%;
  position: absolute;
}

.userminipic {
  height: 40px;
  width: 40px;
  border-radius: 3px;
}

.tablecontainer {
  padding-top: 10px;
  padding-bottom: 20px;
  height: 60vh;
  overflow-y: scroll;
  width: 100%;
  overflow-x: scroll;
}

.wrapsettings {
  margin-top: 70px;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.settingsnav {
  width: 30%;
}

.settingscontent {
  width: 65%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;

}

.settingstitle {
  font-weight: 800;
  color: rgb(100, 98, 98);
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}

.settingsactivelink {
  display: flex;
  color: var(--primarycolor);
  padding: 10px;
  background-color: #d4e0e6;
  border-right: 5px solid var(--primarycolor);
  cursor: pointer;
  margin: 5px 0px;
}

.settingsinactivelink {
  display: flex;
  padding: 10px;
  cursor: pointer;
  color: gray;
  margin: 5px 0px;
  align-items: center;
}

.wrapimagechange {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.wrapprofile {
  display: flex;
  justify-content: space-between;
}

.profileleft {
  width: 48%;
}

.profileright {
  width: 48%;
}

.imageavatar {
  height: 150px;
  border-radius: 100%;
  border: 1px solid var(--primarycolor);
}

.imagelogoavatar {
  height: 50px;
  border-radius: 100%;
  border: 1px solid var(--primarycolor);
}

.wrapnotificationsdiv {
  display: flex;
  padding: 10px;
  cursor: pointer;
  color: gray;
  margin: 5px 0px;
  align-items: center;
  justify-content: space-between;
}


.productsdiv {
  box-shadow: 2px 2px 2px 2px #c7c6c6;
  border-radius: 10px;
  width: 48%;
  margin: 1%;
  padding: 10px;
}


.mainlogo {
  cursor: pointer;
}


.universalheader {
  height: 100px;
  background-color: white;
  position: fixed;
  top: 0px;
  width: 90%;
  padding: 0% 5%;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  z-index: 20;
}

.wrapmenutop {
  padding: 10px;
  background-color: var(--lightsilver);
}

.menuicon {
  border-radius: 10px;
  margin-right: 5px;
  height: 60px;
}

.wrapformheader {
  display: flex;
  width: 30%;
}

.formheader {
  background-color: var(--secondarycolor);
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: right;
  color: white;
}

.formheader2 {
  background-color: var(--primarycolor);
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
}

.wrapselectedimages {
  display: flex;
  flex-wrap: wrap;
}

.pickedimage {
  width: 30%;
  height: 150px;
  position: relative;
  margin: 1%;
}

.pickedimage img {
  width: 100%;
}

.deleteicon {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  right: -10px;
  top: -10px;
  color: red;
}

.selectedproduct {
  width: 18%;
  margin: 1%;
  height: 150px;
  position: relative;
}

.selectedproduct img {
  height: 100%;
}

.hometop {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.productcategories {
  width: 25%;
  /* background-color: rgb(233, 228, 228); */
  background-color: white;
}

.categoryname {
  cursor: pointer;
  padding: 10px 3px;
  display: flex;
  align-items: center;
}

.slidingimages {
  width: 70%;
  background-color: white;
}

.slideimage {
  width: 100%;
}

.wrapproductscategories {
  margin: 20px 0px;
  padding: 10px;
  background-color: white;
}

.categorytitle {
  width: 100%;
  padding: 10px;
  background-color: var(--primarycolor);
  color: white;
}

.wrapproducts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.homeproduct {
  width: 14%;
  margin: 1%;
  height: 200px;
  cursor: pointer;
}

.homeproduct img {
  height: 80%;
}

.homeproductname {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--textcolor);
}

.homeproductprice {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--textcolor);
}

.homeproductpriceoff {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--textcolor);
  text-decoration: line-through;
}

.backpath {
  display: flex;
  cursor: pointer;
}

.viewproductpage {
  width: 85%;
  margin: auto;
}

.wholeproductpage {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  width: 100%;
}

.wrapproduct {
  width: 75%;
  background-color: white;
  padding: 20px;
  display: flex;
}

.productimage {
  height: 250px;
}

.productdescdiv {
  margin-left: 20px;
}

.productviewname {
  font-size: 20px;
  font-weight: 400px;
  color: var(--textcolor);
}

.viewproductprice {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: var(--textcolor);
  margin: 10px 0px;
}

.viewproductpriceoff {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--textcolor);
  text-decoration: line-through;
}

.lefttext {
  font-size: 12px;
  color: green;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.ratings {
  color: orange;
  display: flex;
  margin: 10px 0px;
}

.promotiontext {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.productdetails {
  color: var(--textcolor);
  font-size: 15px;
  line-height: 20px;
}

.bottomviewproduct {
  background-color: white;
  width: 65%;
  margin-top: 20px;
}

.productdetailtext {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--textcolor);
}

.productright {
  background-color: white;
  padding: 10px;
  width: 20%;
  margin-left: 5%;
}

.wrapcart {
  width: 75%;
  background-color: white;
  padding: 20px;
  position: relative;
}


.wrapcartitemwhole {
  width: 90%;
  background-color: white;
  padding: 20px;
}

.wrapcartitem {
  width: 100%;
  display: flex;
}

.cartname {
  font-weight: 500;
  font-size: 20px;
  color: var(--textcolor);
}

.productcartimage {
  height: 100px;
}

.productcartdiv {
  padding-left: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cartprice {
  font-weight: 600;
  font-size: 24px;
}

.bottomitem {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.wrapiconbuttons {
  display: flex;
}

.nocartdata {
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}

.wraptotal {
  margin-top: 5px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.subtotal {
  font-size: 13px;
  color: var(--textcolor);
}

.accountswrap{
  width: 80%;
  margin: auto;
}